data/halobacteriales_data.csv filter=lfs diff=lfs merge=lfs -text
data/thermoproteota_data.csv filter=lfs diff=lfs merge=lfs -text
data/* filter=lfs diff=lfs merge=lfs -text
data/train_test/halobacteriales/*.csv filter=lfs diff=lfs merge=lfs -text
data/train_test/thermoproteota/*.csv filter=lfs diff=lfs merge=lfs -text
